

<div class="col-xs-12 col-md-12 col-lg-12">
<div class="table-responsive datagrid">
  <table class="table-striped table-condensed" border=1 >
    <tbody>
        <td><font color="black">分組名稱:</font></td>
        <td><font color="black">比賽賽制:</font></td>
        <td><font color="black">報名方式:</font></td>
        <td ><font color="black">開賽時間:</font></td>

    
        <tr>
        <td><strong><%=gamegroup.groupname %></strong></td>
        <td><strong><%=gamegroup.grouptype %></strong></td>
        <td><strong><%=Gamegroup.regtypes[gamegroup.regtype] %></strong></td>
        <td ><strong><%= gamegroup.starttime.strftime("%F %H:%M")  %></strong></td>
        <tr>  
        <% if gamegroup.scorelimitation == '無積分限制' %>	
          <td ><font color="black">報名費用:</font></td>
          <td ><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong><%=gamegroup.scorelimitation %></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>
        <% if gamegroup.scorelimitation == '限制高低分' %>	
          <td ><font color="black">報名費用:</font></td>
          <td><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong><%=gamegroup.scorelow%>~<%=gamegroup.scorehigh%></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>
        <% if gamegroup.scorelimitation == '限制最高分' %>	
          <td><font color="black">報名費用:</font></td>
          <td><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong>小於<%=gamegroup.scorehigh%></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>
        <% if gamegroup.scorelimitation == '限制最低分' %>	
          <td ><font color="black">報名費用:</font></td>
          <td><font color="black">積分限制:</font></td>
          <td><font color="black">預計參賽/備取人數:</font></td> 
          <td><font color="black">已報名人數(正選/備取):</font></td> 
          <tr>
          <td><strong><%=gamegroup.gamefee %></strong></td>    
          <td><strong>大於<%=gamegroup.scorelow%></strong></td> 
          <td><strong><%=gamegroup.noofplayers %>/<%=gamegroup.noofbackupplayers %></strong></td>
      
        <% end %>        
      </tbody> 
    
      
</table>

</div>
 <%= link_to 'show', holdgame_gamegroup_path(@holdgame,gamegroup) %>
         <%= link_to 'edit', edit_holdgame_gamegroup_path(@holdgame, gamegroup) %>
         <%= link_to 'destroy', holdgame_gamegroup_path(@holdgame, gamegroup),
                      :method => :delete %>  
              



<!-- Button (Double) -->


<table width="100">
<tr>
  <% if @holdgame.gameholder_id==current_user.id|| current_user.has_role?(:admin)||current_user.has_role?(:superuser)   %>
     <td><%= button_to '修改分組資料', edit_holdgame_gamegroup_path(@holdgame, gamegroup), :method=>:get %></td>

     <td><%= button_to '刪除此分組', holdgame_gamegroup_path(@holdgame, gamegroup),
                              :method => :delete %></td>
  <% end %>                            

<td>
       
        
   
           <% if !user_in_group && user_meet_group && gamegroup.regtype=='single'%>
              <%= button_to '報名參賽', {:controller => "holdgame_gamegroups", :action => "registration" , :gamegroup_id => gamegroup.id },{:onclick => "return confirm('確定報名參賽?')", :method => :post}  %>
           <%end%>   
       
         
</td>     
<td><%= button_to '幫他人報名', {:controller => "holdgame_gamegroups", :action => "playerinput" , :gamegroup_id=>gamegroup.id },:method => :get %></td>                         
</tr>
</table>



</div>

<br>

<div class="table-responsive datagrid">
    <table class="datatable table-striped" border=1 link=blue>
      <caption class="text-center" ><strong>已報名清單</strong></caption> 
      <thead>
        <tr>
        <th>報名序號</th>
        <th>會員編號</th>
        <th>會員姓名</th>
        <th>目前積分</th>
        <th></th>
        </tr>
      </thead>  
      <tbody>
          
          <tr>
          <% case gamegroup.regtype %>
            <% when "single" %>
            
              <%  attendeearray.each_with_index do |player,serial| %> 
                <% if player[0]!={} %>
                  <td><%= serial+1 %></td>
                <% end %> 
                <td><%= player[0]["user_id"] %></td>
                <td><%= player[0]["name"] %></td>
                <td><%= player[0]["curscore"] %></td>
                <td>
                    <% if player[0]["user_id"]==current_user.id ||  player[0]["registor"]==current_user.id ||@holdgame.gameholder_id==current_user.id|| current_user.has_role?(:admin)||current_user.has_role?(:superuser)   %>
                     <%= button_to '取消報名', {:controller => "holdgame_gamegroups", :action => "cancel_current_user_registration" , :user_in_groupattendant=>user_in_group },  {:onclick => "return confirm('確定取消報名?')", :method => :post}  %>
                    <%end%>
                </td>  
                </tr>
    
              <% end %>
          
            <% when "double" %>
            <% when  "team" %>
          <%end%>  
       
      </tbody>    
      <tfoot>

  
      </tfoot>  
    </table>  
  </div>
