<div class="col-md-12">
  <h1 align=center> <%= @holdgame.startdate %> <%= @holdgame.gamename %></h1>
<div class="col-md-6">

       
   <div class ="well" style='width: 100%'>

    <p>
    <b>比賽名稱:</b>
     <font color="blue"><%= @holdgame.gamename %></font>
    </p>

    <p>
    <b>比賽日期:</b>
      <font color="blue"><%= @holdgame.startdate %></font>
    </p>
    <p>
    <b>比賽場地:</b>
      <font color="blue"><%= @holdgame.courtname %></font>
    </p>
    <p>
      <b>比賽地址:</b>
      <font color="blue"><%= @holdgame.address %></font>
    </p>

    <p>
    <b>比賽類型:</b>
      <font color="blue"><%= @holdgame.gametype %></font>
    </p>

   <p>
      <b>主辦人:</b>
      <font color="blue"><%= @gameholder.name %></font>
   </p>


   <p>
     <b>主辦人電話:</b>
     <font color="blue"><%= @gameholder.phone %></font>
   </p>

   <p>
     <b>主辦人信箱:</b>
     <font color="blue"><%=  @gameholder.email %></font>
    </p>
   <p>
     <b>贊助單位:</b>
     <font color="blue"><%=  @gameholder.sponsor %></font>
   </p>

   <p>
    <b>比賽相關資料說明:</b>
      <p style="white-space: pre-line ;width:auto; text-align:justify ">
        <font color="blue"><%= @holdgame.gamenote %></font>
    </p>
   </p>
 </div>
</div> 
<div class="col-md-6">
    <div id="map" style='width: 100%; height: 300px;'></div>
</div> 

 
<div class="col-md-12">

 
 <% if current_user && ( @holdgame.gameholder.user_id==current_user.id || current_user.has_role?(:admin)||current_user.has_role?(:superuser))   %>
   <%= button_to '新增比賽分組', new_holdgame_gamegroup_path(@holdgame), :method => :get  %>
 <%end%>  

</div>
</div>

<div class="container">
   
    <ul class="nav nav-tabs" id="tabs" role="tablist"> 
      <% @gamegroups.each_with_index do |gamegroup, tabindex| %>
        <% if gamegroup.id== @targetgroup_id %>
            <li class="active"><a href= "<%= '#tab'+ (tabindex+1).to_s %>"  role="tab" data-toggle="tab"><%=gamegroup.groupname %></a></li>
         <% else %>
            <li><a href= "<%= '#tab'+ (tabindex+1).to_s %>"  role="tab" data-toggle="tab"><%=gamegroup.groupname %></a></li>
         
        <% end %>  
        
      <%end%>
    
      <div class="tab-content my-tab">
  
        <% @gamegroups.each_with_index do |gamegroup,tabindex| %>
          <% if gamegroup.id==@targetgroup_id %>
            <div class="tab-pane in active" id="<%= 'tab'+ (tabindex+1).to_s %>" >
          <% else %>
            <div class="tab-pane" id="<%= 'tab'+ (tabindex+1).to_s %>" >
          <% end  %>  

          <% if !current_user %>
            <% @user_registered=false %>
            <% @user_in_group=false %>
            <% @user_meet_group=false %>
          <% else %>
            <% @user_in_group=gamegroup.findplayer(current_user.id) %>
            <% @user_meet_group=gamegroup.check_meet_group_qualify(current_user.playerprofile.curscore) %>
          <% end %>  

          <%case gamegroup.regtype %>
          <% when 'single' %>
            <%= render :partial => "showsingle", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => @user_in_group, :user_meet_group => @user_meet_group} %>
          <% when 'double' %>
            <%= render :partial => "showdouble", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group =>@user_in_group, :user_meet_group =>@user_meet_group} %>
          <% when 'team' %>
            <%= render :partial => "showteam", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => @user_in_group, :user_meet_group =>@user_meet_group} %>
          <%end%> 

          </div> 
       
 
        <%end%>    
      </div>
   </ul>
</div> 

