<div class="col-md-12">
  <h1 align=center> <%= @holdgame.startdate %> <%= @holdgame.gamename %></h1>
<div class="col-md-6">

       
   <div class ="well" style='width: 100%'>

    <p>
      <b>比賽名稱:</b>
       <%= @holdgame.gamename %>
    </p>

    <p>
    <b>比賽日期:</b>
      <%= @holdgame.startdate %>
    </p>
    <p>
    <b>比賽場地:</b>
      <%= @holdgame.courtname %>
    </p>
    <p>
      <b>比賽地址:</b>
      <%= @holdgame.address %>
    </p>

    <p>
    <b>比賽類型:</b>
      <%= @holdgame.gametype %>
    </p>

   <p>
      <b>主辦人:</b>
      <%= @gameholder.name %>
   </p>


   <p>
     <b>主辦人電話:</b>
     <%= @gameholder.phone %>
   </p>

   <p>
     <b>主辦人信箱:</b>
     <%=  @gameholder.email %>
    </p>
   <p>
     <b>贊助單位:</b>
     <%=  @gameholder.sponsor %>
   </p>

   <p>
    <b>比賽相關資料說明:</b>
      <p style="white-space: pre-line ;width:auto; text-align:justify ">
        <%= @holdgame.gamenote %>
    </p>
   </p>
 </div>
</div> 
<div class="col-md-6">
    <div id="map" style='width: 100%; height: 300px;'></div>
</div> 

 
<div class="col-md-12">
   
<% @gamegroups.each do |gamegroup| %>
	<li>
	  <%= gamegroup.groupname %>
	  <%= link_to 'show', holdgame_gamegroup_path(@holdgame,gamegroup) %>
	  <%= link_to 'edit', edit_holdgame_gamegroup_path(@holdgame, gamegroup) %>
	  <%= link_to 'destroy', holdgame_gamegroup_path(@holdgame, gamegroup),
	                            :method => :delete %>
    <td><!%= link_to 'gameplayers', holdgame_gamegroup_gameplayers_path(@holdgame,gamegroup) %></td>
	</li>
<% end %>

 <% if @holdgame.gameholder_id==current_user.id|| current_user.has_role?(:admin)||current_user.has_role?(:superuser)   %>
   <%= button_to '新增比賽分組', new_holdgame_gamegroup_path(@holdgame), :method => :get  %>
 <%end%>  
<!%= link_to 'new game', new_holdgame_gamegroup_path(@holdgame) %>
</div>
</div>

<div class="container">
   
    <ul class="nav nav-tabs" id="tabs" role="tablist"> 
      <% @gamegroups.each_with_index do |gamegroup, tabindex| %>
        <% if gamegroup.id== @targetgroup_id %>
            <li class="active"><a href= "<%= '#tab'+ (tabindex+1).to_s %>"  role="tab" data-toggle="tab"><%=gamegroup.groupname %></a></li>
         <% else %>
            <li><a href= "<%= '#tab'+ (tabindex+1).to_s %>"  role="tab" data-toggle="tab"><%=gamegroup.groupname %></a></li>
         
        <% end %>  
        
      <%end%>
    
      <div class="tab-content my-tab">
  
        <% @gamegroups.each_with_index do |gamegroup,tabindex| %>
          <% if gamegroup.id==@targetgroup_id %>
            <div class="tab-pane in active" id="<%= 'tab'+ (tabindex+1).to_s %>" >
          <% else %>
            <div class="tab-pane" id="<%= 'tab'+ (tabindex+1).to_s %>" >
          <% end  %>   
          <%case gamegroup.regtype %>
          <% when 'single' %>
            <%= render :partial => "showsingle", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => gamegroup.findplayer(current_user.id), :user_meet_group => gamegroup.check_meet_group_qualify(current_user.playerprofile.curscore)} %>
          <% when 'double' %>
            <%= render :partial => "showdouble", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => gamegroup.findplayer(current_user.id), :user_meet_group => gamegroup.check_meet_group_qualify(current_user.playerprofile.curscore)} %>
          <% when 'team' %>
            <%= render :partial => "showteam", :locals => { :gamegroup => gamegroup , :attendeearray =>  gamegroup.allgroupattendee, :user_registered=>@user_registered, :user_in_group => gamegroup.findplayer(current_user.id), :user_meet_group => gamegroup.check_meet_group_qualify(current_user.playerprofile.curscore)} %>
          <%end%> 

          </div> 
       
 
        <%end%>    
      </div>
   </ul>
</div> 

