
<div class="row">
   <div class="col-xs-8 col-md-8 col-lg-8">
    <div style="margin-top:20px">
     <h2><font color="blue">桌球愛好者聯盟比賽登錄及報名系統</font></h2>
    </div>
  </div>
  <div class="col-md-4">
    <div style="margin-top:10px">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12 col-lg-12">
    <div class="table-responsive datagrid">
      <table class="datatable  table-striped table-condensed" border=1 link=blue>
        <thead>
          <tr>
            <th>賽事名稱</th>
            <th>比賽日期</th>
            <th>比賽地點</th>
            <th>主辦人員</th>
            <th>詳細比賽資訊</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @holdgames.each do |holdgame| %>
            <tr>
                <td><%= holdgame.gamename %></td>
                <td><%= holdgame.startdate.strftime('%F') %></td>
                <td><%= holdgame.gameholder.courtname %></td>
                <td><%= holdgame.gameholder.name %></td>
                <td>
                  <p style="white-space: pre-line ;width:auto; text-align:justify ">
                    <%= holdgame.gamenote %>
                  </p>
                </td>
             
               
              


            <td><%= link_to_if( current_user &&((current_user.has_role? :admin) || (current_user.has_role? :superuser)  || (current_user.id==holdgame.gameholder.user_id)), '修改比賽資料',  edit_holdgame_path(holdgame) )%>
            </td>



            <td><%= link_to_if( current_user&& ((current_user.has_role? :admin) || (current_user.has_role? :superuser)  || (current_user.id==  holdgame.gameholder.user_id)), '刪除此場比賽', holdgame, method: :delete, data: { confirm: '確定要刪除本場比賽資料?'}  ) %></td>

            <td><%= link_to '比賽分組及報名', holdgame_gamegroups_path(holdgame) %>
            </td>

            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="8">
              <div class="text-center">
               <%= paginate @holdgames, :theme => 'twitter-bootstrap-3' %>
              </div>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

 



<%= link_to_if(current_user && ((current_user.has_role? :admin) || (current_user.has_role? :superuser) || (current_user.has_role? :gameholder)), '登錄新比賽', new_holdgame_path) %>
