<div class="wrapper">
  <p align=center><strong><%= holdgame.gamename %></strong><br></p>
  比賽場地：<%=holdgame.courtname %><br>
  比賽地址：<%=holdgame.address %><br>
  開始日期：<%=holdgame.startdate %><br>
  主辦人：  <%=holdgame.gameholder.name %><br>
  贊助單位：<%=holdgame.gameholder.sponsor %><br>
  比賽資訊：<%=holdgame.gamenote %><br>
  
 </div>