<!DOCTYPE html>
<html>
  <head>
    
    <title>桌球愛好者聯盟</title>
      <%= stylesheet_link_tag    "application", media: "all" %>
      <%= csrf_meta_tags %>

      <%= render_page_description_meta_tag %>
      <%= render_page_keywords_meta_tag %>
      <%= render_page_image_link_tag %>
      <%= csrf_meta_tag %>
      <meta property="og:title" content="<%= page_title || SeoHelper.configuration.site_name %>"/>
      <meta property="og:description" content="<%= page_description || SeoHelper.configuration.default_page_description %>"/>
      <meta property="og:image:url" content="<%= page_image || SeoHelper.configuration.default_page_image %>"/>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="shortcut icon" href="/images/lttficon.ico">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <!-- javascript & css from CDN-->
      <%= yield :head %>
    
      <%= render :partial => "common/easy_menu" %>
  </head>

 
  <body>

    <div id="wrap">

      <div class="container">
        <!div class="top-buffer"><!/div>
        <div class="row">
          <div class="col-md-4">
            <!div class="top-buffer"><!/div>
            <!-- devise notice -->
            <%= render partial: "common/flash_messages", flash: flash %>
          </div>
          <div class="col-md-offset-10 col-md-2">
            <ul id="sidebar" class="nav nav-stacked affix" >
              <li><font color="red" size="1"><strong>廣告欄位出租!意者請洽李組長</strong></font></li>
              <li><a  href= "http://www.pcstore.com.tw/ilovemama/M00464699.htm"><img src="/images/chrisadv.gif" class="img-responsive" alt="LTTF Logo"></a></li>
              <li><a  href= "/"><img src="/images/lttf_logo_120x80.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
              <li><a  href= "/"><img src="/images/lttf_logo_120x80.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
              <li><a  href= "/"><img src="/images/lttf_logo_120x80.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
              <li><a  href= "/"><img src="/images/lttf_logo_120x80.jpg" class="img-responsive" alt="LTTF Logo"></a></li>
            </ul>
          </div>    
                  
          <div class="col-xs-10 col-md-10 col-lg-10">  
            
            <%= yield %>
          
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
         
            </br>
          </div>
        </div>
      </div>
    </div>


    <%= render :partial => "common/bootstrap_modal" %>
    <%= render :partial => "common/facebook_js" %>
    <%= render :partial => "common/google_analytics" %>
    <%= render :partial => "common/footer" %>
    <%= javascript_include_tag "application" %>
  </body>

</html>